/* header */
.firstpofhead {
    color: brown !important;
}

/* navbar */
.bg-brown {
    background-color: brown;
    color: white;
}

ul li {
    color: white;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.left-col img {
    width: 95%;
    height: 100vh;
    object-fit: cover;
}

.right-col {
    background-image: url('images/form_bg.jpg');
    /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* image and form */
.bg-image {
    background-image: url('images/form_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 480px;
    width: 610px;
}

.rightimg img {
    height: 480px;
    width: 595px;
}

.head1inform {
    height: 55px;
    width: 245px;
}

.bluehead {
    color: rgb(58, 15, 177);
    font-size: 2.8rem;
}

#formfirstpargraph {
    font-size: 1.3rem;
    margin-left: 40px;
}

.confidentialimg {
    transform: rotate(15deg) !important;
    height: 50px;
}

#floatingTextarea {
    width: 85%;
    margin-left: 44px;
    margin-top: 10px;
}

.bottomofform {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.btnform {
    background-color: brown;
    color: white;
    margin: 0px;

}

.btnform p {
    padding: 5px;
    margin: 0px;
    font-size: 22px
}

.btnform p img {
    width: 12px;
    height: 12px;
}

.bottomofform p {
    margin-bottom: 0px;
}

/* section 3 */
.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.section3row {
    padding-left: 20px;
    padding-right: 20px;
}

/* box1 */

.box1 {
    border-right: 1px solid gray;
}

.box2 {
    border-bottom: 1px solid gray;
}

.box4 {
    border-left: 1px solid gray;
}

.box1left {
    justify-content: space-between;
}

.box1in h1 {
    font-size: 30px;
}

.box1in p {
    font-size: 21px;
    color: gray;
}

.box1left p {
    margin-bottom: 0px;
}

.box1in h2 {
    color: brown;
    font-size: 22px;
}

.box1image img {
    width: 100px;
}

.box1in hr {
    border: 1.5px solid gray;
    width: 200px;
    margin-bottom: 0px;
    margin-left: 160px;
    margin-top: 0px;
}

.box1in button {
    border: 1px solid brown;
    margin-left: 220px;
}

.box1in button img {
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

/* box2 */
.box2left h1 {
    font-size: 30px;
}

.box2left p {
    font-size: 21px;
    color: gray;
}

.box2left hr {
    border: 1.5px solid gray;
    width: 200px;
    margin-bottom: 0px;
}

.box2left button {
    border: 1px solid brown;
    margin-left: 60px;
}

.box2left button img {
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.box2right img {
    height: 130px;
    margin-top: 15px;
    width: 175px;
}

/* box3 */
.box3left h1 {
    font-size: 30px;
}

.box3left p {
    font-size: 21px;
    color: gray;
}

.box3left hr {
    border: 1.5px solid gray;
    width: 200px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.box3left button {
    border: 1px solid brown;
    margin-left: 60px;
}

.box3left button img {
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.box3right img {
    height: 125px;
    margin-top: 15px;
    width: 125px;
}

/* box4 */
.box4in h1 {
    font-size: 30px;
}

.box4in p {
    font-size: 21px;
    color: gray;
}

.box4in hr {
    border: 1.5px solid gray;
    width: 200px;
    margin-bottom: 0px;
    margin-top: 39px;
    margin-left: 170px;
}

.box4in button {
    border: 1px solid brown;
    margin-left: 215px;
}

.box4in button img {
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.box4itopmages {
    justify-content: space-evenly;
}

.imagebox4left img {
    width: 145px;
}

.imagebox4right img {
    width: 115px;
}
/* section4 */
/* col1 */
.col1{
    padding-left: 30px;
}
.col1tophead{
    font-size: 30px;
    margin-bottom: 20px;
}
.leftlabel1 {
    display: flex;
    background-color: gray;
    height: 70px;
    width: 272px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}
.leftlabel1 #imagemenu {
    width: 10px;
}

.leftlabel1 #image {
    width: 14px;
    height: 14px;
    margin-top: 46px;
    margin-left: 5px;
}

.leftlabel1 h1 {
    font-size: 28px;
    margin-top: 4px;
    margin-left: 5px;
}

.leftlabel1 p {
    color: white;
    margin-top: 42px;
    font-size: 15px;

}
.col1last2ndhead{
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.col1lastheads h1{
    color: gray;
    font-size: 30px;
    text-align: center;
}
/* col2 */
.col2pandhead{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.col2firsthead{
    font-size: 30px;
    margin-bottom: 35px;
}
.col2firstp{
    line-height: 25px;
}
/* col3 */
.col3rightside1 h1 {
    margin-bottom: 0px;
    font-size: 30px;
}

.col3 p {
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}


    .col3rightside1 hr {
        margin-bottom: -1px;
        width: 250px;
        height: 2px;
        color: gray;
        background-color: gray;
    }



.col3rightside1 button {
    background-color: brown;
    border: 1px solid brown;
    width: 130px;
    height: 30px;
    margin-left: 95px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.col3rightside1 button img {
    margin-top: -4px;
    width: 12px;
    height: 12px;
}

.col3rightside1img img{
    width: 180px;
    margin-top: 30px;
   margin-bottom: 30px;
}
.col3rightside2img img {
    width: 165px;
}
.col3eightsidelasthead {
    margin-top: 50px;
    font-size: 30px;
}

.col3eightsidelastimages{
    margin-bottom: 80px;
}

